:root {
    --yellow-color: #f8e71c;
    --cate-bg-color: #f7f7f7;
}

.product-name,
.sub-category-title {
    border-bottom: 1px solid #606060;
}

.SideBar {
    background-color: #303030;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    overflow-x: hidden;
    height: 100%;
    width: 35%;
    min-width: 300px;
    max-width: 400px;
}

.BodyCover {
    background-color: rgba(0, 0, 0, 0.4);
    color: red;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    place-items: center;
    width: 100%;
    height: 100%;
    cursor: url('../../assets/go-back-arrow-svgrepo-com.png'), auto;
}

.Headroom {
    width: 1300px;
    height: 116px !important;
    z-index: 9;
}

.body-content {
    max-width: 1300px;
}

.banner-container {
    height: 400px;
}

.category-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dcdcdc;
}

.policy-card {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    margin: 5px 20px 5px 20px;
}

.policy-card img {
    margin: 5px;
    width: 100%;
    height: auto;
    max-width: 30px;
}

.policy-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.policy-card div .title {
    font-size: medium;
}

.policy-card div .content {
    font-size: small;
}

@media screen and (max-width: 1300px) {
    .Headroom {
        width: auto;
        height: 84px !important;
    }

    .menu-category-container {
        display: none;
    }

    .banner-container {
        display: flex;
        justify-content: center;
        max-height: 500px;
    }

    .banner {
        width: 100%;
        height: auto;
        max-height: 500px;
    }
}