:root {
    --yellow-color: #f8e71c;
}

.product-name,
.sub-category-title {
    border-bottom: 1px solid #606060;
}

.SideBar {
    background-color: #303030;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    overflow-x: hidden;
    height: 100%;
    width: 35%;
    min-width: 300px;
    max-width: 400px;
}

.BodyCover {
    background-color: rgba(0, 0, 0, 0.4);
    color: red;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    place-items: center;
    width: 100%;
    height: 100%;
    cursor: url('../../assets/go-back-arrow-svgrepo-com.png'), auto;
}

.Headroom {
    height: 120px !important;
    z-index: 9;
}

.body-content {
    width: 90%;
    max-width: 1300px;
}

.banner-container {
    height: 400px;
}

@media screen and (max-width: 1300px) {
    .Headroom {
        height: 84px !important;
    }

    .menu-category-container {
        display: none;
    }

    .banner-container {
        max-width: 700px;
        height: fit-content;
        justify-content: center;
        align-items: center;
        place-items: center;
        align-content: center;
    }
}


.category-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dcdcdc;
}

@media screen and (max-width: 800px) {
    .topnav.responsive {
        position: relative;
    }

    .body-content {
        width: 100%;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.policy-card {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    margin: 5px 20px 5px 20px;
}

.policy-card img {
    margin: 5px;
    width: 100%;
    height: auto;
    max-width: 30px;
}

.policy-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.policy-card div .title {
    font-size: medium;
}

.policy-card div .content {
    font-size: small;
}