:root {
    --side-bar-hover-bg-color: #f0f0f0;
}

.side-bar-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.side-bar-item-container:hover {
    background-color: var(--side-bar-hover-bg-color);
}

.side-bar-item-container:hover div {
    color: black !important;
}

.side-bar-item-container:hover div i {
    color: black !important;
}