.footer-container {
    background-color: #d7d7d7;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-content .lni {
    font-size: medium;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
}

.help-option-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.help-option-container .help-option-item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 1300px) {
    .footer-content {
        display: flex;
        flex-wrap: wrap;
    }
}