.SearchBar {
    width: 70%;
    background: radial-gradient(circle, #ebebeb, #8b8b8b) !important;
    border: 1px solid #ccc;
    /* Thêm border để dễ nhận thấy */
    padding: 10px;
    margin: auto;
    border-radius: 4px;
    color: #000000;
    /* Màu chữ để nổi bật trên nền tối */
}

.fa-search {
    color: #ffffff;
    /* Màu icon để nổi bật trên nền tối */
}

.fa-search:hover {
    color: #007ec7;
    /* Màu icon khi hover để nổi bật trên nền tối */
}